* {
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}
body {
    background-color: #5f7e8f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.hide {
    display: none;
}
.container {
    background: #1f515a;
    box-shadow: rgba(0, 0, 0, .24) 0px 3px 8px;
    padding: 2rem;
    color: #fdfdfd;
    border-radius: 1.5rem;
    /*form*/
}
.form h3 {
    margin-bottom: 1rem;
}
.form-input-container {
    display: flex;
}
.form input {
    padding: .8rem;
    border: none;
    flex: 1;
    border-radius: 5px;
}
.form button {
    padding: .8rem;
    min-width: 50px;
    margin-left: 8px;
    background-color: #8dd0f5;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
.form button:hover {
    padding: .8rem;
    min-width: 50px;
    margin-left: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #428cb4;
    color: #fdfdfd;
}
/*Clima*/
#weather-data {
    border-top: 1px solid #fff;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    text-align: center;
}
#weather-data h2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
}
#weather-data h2 i {
    font-size: 1rem;
}
#weather-data span {
    margin: 0.5rem;
}
#country {
    height: 15px;
}
#description-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .5rem 00;
}
#details-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
#description {
    font-weight: bold;
    text-transform: capitalize;
}
#weather-icon {
    height: 2.5rem;
}
#details-container #umidity {
    border-right: 1px solid #fff;
    margin: 0.6rem;
    padding: .6rem;
}